---
import CartIcon from "./icons/CartIcon.astro";
import EShopIcon from "./icons/EShopIcon.astro";

const cart_resp = await fetch("http://localhost:4321/api/orders").then(resp=>resp.json());
const cartCount = cart_resp.quantity;

---

<div class="navbar bg-base-100 mx-auto max-w-7xl mt-3 shadow-xl rounded-box">
    <div class="navbar-start">
      <div class="form-control">
        <!-- <input
          type="text"
          placeholder="Search"
          class="input input-bordered w-24 md:w-auto"
        /> -->
        
      </div>
      <!-- <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Red pill</span> 
          <input type="radio" name="radio-10" class="radio checked:bg-red-500" checked />
        </label>
      </div> -->
    </div>
    <div class="navbar-center">
      <a
        href="/"
        class="btn btn-ghost normal-case text-xl items-center align-middle"
      >
        <i><EShopIcon /></i>
        E-Shop
    </a>
    </div>
    <div class="navbar-end">
      <a href="/orders" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <CartIcon class="w-5 h-5" />
          <span class="badge badge-sm indicator-item" id="product-count">
            {cartCount}
          </span>
        </div>
    </a>

      <!-- <button class="btn btn-circle">
        <div class="indicator">
          <UserIcon class="w-5 h-5" />
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button> -->
    </div>
  </div>