---
import Layout from '../layouts/Layout.astro';
---

<Layout title='e-shop'>
  <div class="container">
    <div class="content" style="max-width:816px;margin:40px auto 0">
      <main class="main">
        <div class="fnf-wrap e-404">
          <h2 class="title">Nothing was found at this location. <br> Maybe try a search?</h2>
          <a class="link-light arrow-left" href="/">Go to home page</a>
        </div>
      </main>
    </div>
  </div>

</Layout>